<app-spinner [message]="'Iniciando sesión'"></app-spinner>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="formLogin">
                <h1>Inicio de sesión</h1>
                <p class="text-medium-emphasis">Iniciar sesión en su cuenta</p>
                <c-input-group class="mb-3" >
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="email" autoComplete="username" cFormControl placeholder="Usuario" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    formControlName="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="dark" (click)="login()">
                      Ingresar
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 100}" class="text-white bg-secondary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>SISGESS</h2>
                <img class="sizeImg" src="assets/img/brand/coreui-signet-white.svg" />
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
